@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,600,800&display=swap");
@keyframes FadeIn{
  from{
      opacity: 0;
  }
  to{
      opacity: 1
  }
}
.body_CSS {  
  width: 100%;
  height: 100%;
  margin: 0px;
  /* transition: 200ms; */
  font-family: "Nunito Sans", sans-serif;  
  background-color:hsl(207, 26%, 17%);
  overflow: overlay;
}
::-webkit-scrollbar{
  width: 5px;  
}
::-webkit-scrollbar-thumb{
  border-radius: 5px;
}
.body_lightMode_CSS{
  background-color: hsl(0, 0%, 98%);
}
.body_darkMode_CSS{
  background-color:hsl(207, 26%, 17%)
}

.container_CSS {
  width: 100%;
  height: 100%;
  transition: 200ms;
  background-color:hsl(207, 26%, 17%);
  
}
.headerContainer_Div_CSS {
  width: 100%;
  height: 80px;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: FadeIn 1s;
  transition: 200ms;
}
.headerContainer_Div_lightMode_CSS {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 3px rgb(148, 148, 148);
  box-shadow: 0px 0px 3px 1px rgb(248, 43, 43);
}

.headerContainer_Div_darkMode_CSS {
  background-color: hsl(209, 23%, 22%);
  box-shadow: 0px 0px 3px rgb(37, 37, 37);
}
.headerLabel_P_CSS {  
  font-size: 20px;
  font-weight: bolder;
  margin-left: 100px;
  transition: 200ms;
}
.headerLabel_P_lightMode_CSS{
  color: hsl(200, 15%, 8%);
}
.headerLabel_P_darkMode_CSS{
  color: hsl(0, 0%, 100%);
}
.darkMode_P_CSS {
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-weight: bold;
  margin-right: 120px;
  transition: 200ms;
}
.darkMode_P_CSS:hover{
  cursor: pointer;
}
.darkMode_P_lightMode_CSS{
  color: hsl(200, 15%, 8%);  
}
.darkMode_P_darkMode_CSS{
  color: hsl(0, 0%, 100%); 
}
/* -------------------------------------------- */
.mainCountriesContainer_Div_CSS {
  width: 100%;
  height: 100vh;
  transition: 200ms;
}
.mainCountriesContainer_Div_lightMode_CSS {
  background-color: hsl(0, 0%, 98%);
}
.mainCountriesContainer_Div_darkMode_CSS {
  background-color:hsl(207, 26%, 17%)
}

.findCountriesTools_Div_CSS{
    width: 100%;
    height: 100Px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searchCountries_Input_CSS{
    width: 300px;
    height: 40px;
    margin-left: 105px;
    border-radius: 3px;
    border: none;
    text-indent: 30px;   
    transition: 200ms; 
}
.searchCountries_Input_lightMode_CSS{
  background-color: hsl(0, 0%, 100%); 
  color: hsl(200, 15%, 8%); 
  box-shadow: 0px 0px 3px 0.1px rgb(192, 192, 192);
}
.searchCountries_Input_darkMode_CSS{
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%); 
  box-shadow: 0px 0px 3px 0.1px rgb(37, 37, 37);
}
.filterByRegoin_Select_CSS{
    width: 170px;
    height: 40px;
    border-radius: 3px;
    border: none;
    margin-right: 120px;
    text-indent: 15px;
    transition: 200ms;
}

.filterByRegoin_Select_lightMode_CSS{
  background-color: hsl(0, 0%, 100%); 
  color: hsl(200, 15%, 8%); 
  box-shadow: 0px 0px 3px 0.1px rgb(192, 192, 192);
}
.filterByRegoin_Select_darkMode_CSS{
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 3px 0.1px rgb(37, 37, 37);
}
.ListOfAllCountriesContainer_Div_CSS{
    width: 80%;
    height: 100vh;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 10px;
}

.countryContainerSmallView_Div_CSS{
    width:220px;
    height: 280px;
    margin: 25px 25px 25px 25px;
    border-radius: 3px;
    animation: FadeIn 1s;
    transition: 200ms;
}
.countryContainerSmallView_Div_CSS:hover{
  transform: scale(1.08);
  cursor: pointer;
}
.countryContainerSmallView_Div_lightMode_CSS{
  background-color: hsl(0, 0%, 100%); 
  color: hsl(200, 15%, 8%)
}
.countryContainerSmallView_Div_darkMode_CSS{
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.countryImageSmallView_Img_CSS{
    width: 220px;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.countryNameSmallView_P_CSS{
    font-size: 13px;
    margin-left: 15px;
    font-weight: bold;    
}
.countryPopulationSmallView_P_CSS{
    margin-left: 15px;
    font-weight: 400;
}
.countryRegionSmallView_P_CSS{
    margin-left: 15px;
    font-weight: 400;
}
.countryCapitaSmallView_P_CSS{
    margin-left: 15px;
    font-weight: 500;
}
strong{
    font-weight: 800; 
}