@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,600,800&display=swap");
@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes FadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.body_CSS {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: "Nunito Sans", sans-serif;
  background-color: hsl(0, 0%, 98%);
  overflow: overlay;
  animation: FadeIn 200ms;
  transition: 200ms;
  overflow: none;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
.body_lightMode_CSS {
  background-color: hsl(0, 0%, 98%);
}
.body_darkMode_CSS {
  background-color: hsl(207, 26%, 17%);
}

.container_CSS {
  width: 100%;
  height: 100%;
  transition: 200ms;
  margin-top: 10px;
}
.headerContainer_Div_CSS {
  width: 100%;
  height: 80px;
  margin-top: -10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: FadeIn 200ms;
  transition: 200ms;
}
.headerContainer_Div_lightMode_CSS {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 2px 0px rgba(153, 153, 153, 0.7);
}

.headerContainer_Div_darkMode_CSS {
  background-color: hsl(209, 23%, 22%);
  box-shadow: 0px 0px 2px 0px rgba(11, 15, 18, 1);
}
.headerLabel_P_CSS {
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 1px;
  margin-left: 100px;
  transition: 200ms;
}
.headerLabel_P_lightMode_CSS {
  color: hsl(200, 15%, 8%);
}
.headerLabel_P_darkMode_CSS {
  color: hsl(0, 0%, 100%);
}
.darkMode_P_CSS {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-right: 120px;
  transition: 200ms;
}
.darkMode_P_CSS:hover {
  cursor: pointer;
}
.darkMode_P_lightMode_CSS {
  color: hsl(200, 15%, 8%);
}
.darkMode_P_darkMode_CSS {
  color: hsl(0, 0%, 100%);
}
/* -------------------------------------------- */
.mainCountriesContainer_Div_CSS {
  width: 100%;
  height: 100%;
  transition: 200ms;
}
.findCountriesTools_Div_CSS {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchCountries_Input_CSS {
  width: 300px;
  height: 40px;
  border-radius: 3px;
  border: none;
  text-indent: 40px;
  transition: 200ms;
}
.searchCountries_Input_lightMode_CSS {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
  box-shadow: 0px 0px 2px 0px rgba(153, 153, 153, 0.7);
}
.searchCountries_Input_darkMode_CSS {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 2px 0px rgba(11, 15, 18, 1);
}
.countriesRegoin_Div_CSS {
  width: 170px;
  height: 40px;
  border-radius: 3px;
  border: none;
  margin-right: 120px;
  text-indent: 15px;
  transition: 200ms;
  display: flex;
  flex-wrap: wrap;
}

.countriesRegoin_Div_lightMode_CSS {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
  box-shadow: 0px 0px 2px 0px rgba(153, 153, 153, 0.7);
}
.countriesRegoin_Div_lightMode_CSS:hover {
  background-color: hsl(0, 0%, 98%);
  cursor: pointer;
}
.countriesRegoin_Div_darkMode_CSS {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 2px 0px rgba(11, 15, 18, 1);
}
.countriesRegoin_Div_darkMode_CSS:hover {
  background-color: hsl(209, 18%, 29%);
  cursor: pointer;
}

.filterByRegoin_P_CSS {
  margin: 0px 0px 3px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  transition: 200ms;
  font-size: 14px;
  font-weight: 600;
}
.allRegoinSymbol_CSS {
  margin-right: 15px;
  margin-bottom: 7px;
  font-size: 15px;
}
.countriesRegoin_P_CSS {
  margin: 0px;
  width: 100%;
  text-indent: 15px;
  padding: 5px;
  height: 20px;
  display: none;
  z-index: 1000;
  transition: 200ms;
  font-size: 14px;
}
.countriesRegoin_P_lightMode_CSS {
  border-left: 0.5px solid rgb(224, 224, 224);
  border-right: 0.5px solid rgb(224, 224, 224);
  background-color: hsl(0, 0%, 100%);
}
.countriesRegoin_P_lightMode_CSS:hover {
  background-color: hsl(0, 0%, 98%);
}
.countriesRegoin_P_lightMode_CSS:last-child {
  border-bottom: 0.5px solid rgb(224, 224, 224);
}
.countriesRegoin_P_darkMode_CSS {
  border-left: 0.5px solid rgb(37, 37, 37);
  border-right: 0.5px solid rgb(37, 37, 37);
  background-color: hsl(209, 23%, 22%);
}
.countriesRegoin_P_darkMode_CSS:last-child {
  border-bottom: 0.5px solid rgb(37, 37, 37);
}
.countriesRegoin_P_darkMode_CSS:hover {
  background-color: hsl(208, 19%, 26%);
  cursor: pointer;
}
.countriesRegoin_P_CSS:nth-child(2) {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.countriesRegoin_P_CSS:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.countriesRegoin_Div_CSS:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.ListOfAllCountriesContainer_Div_CSS {
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.countryContainerSmallView_Div_CSS {
  width: 230px;
  height: 290px;
  margin: 25px 25px 25px 25px;
  border-radius: 3px;
  animation: FadeIn 200ms;
  transition: 200ms;
}
.countryContainerSmallView_Div_CSS:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.countryContainerSmallView_Div_lightMode_CSS {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}
.countryContainerSmallView_Div_darkMode_CSS {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.countryImageSmallView_Img_CSS {
  width: 230px;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.countryNameSmallView_P_CSS {
  font-size: 14px;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: bold;
}
.countryPopulationSmallView_P_CSS {
  font-size: 12px;
  margin: 5px 5px 5px 15px;
  font-weight: 300;
}
.countryRegionSmallView_P_CSS {
  font-size: 12px;
  margin: 5px 5px 5px 15px;
  font-weight: 300;
}
.countryCapitaSmallView_P_CSS {
  font-size: 12px;
  margin: 5px 5px 5px 15px;
  font-weight: 300;
}
.textSmallView_CSS {
  font-weight: 600;
}
/* ----------------------------------------------------------------------- */
.countryContainerFullView_Div_CSS {
  animation: FadeIn 200ms;
  width: 80%;
  height: fit-content;
  margin: 50px auto;
}
.countryContainerFullView_Div_lightMode_CSS {
  color: hsl(200, 15%, 8%);
}
.countryContainerFullView_Div_darkMode_CSS {
  color: hsl(0, 0%, 100%);
}
.countryWholeDetailContainerFullView_Div_CSS {
  display: flex;
  font-size: 13px;
  font-weight: 300;
}
.countryBackButtonContainerFullView_Div_CSS {
  height: 80px;
}
.countryBackButtonContainerFullView_Div_lightMode_CSS {
  color: hsl(200, 15%, 8%);
}
.countryBackButtonContainerFullView_Div_darkMode_CSS {
  color: hsl(0, 0%, 100%);
}
.countryDetailContainerFirstChildFullView_Div_CSS {
  display: flex;
  align-items: flex-end;  
}
.countryDetailContainerFirstChild_1_FullView_Div_CSS {
  margin-left: 60px;
  height: fit-content
}
.countryDetailContainerFirstChild_2_FullView_Div_CSS {
  margin-left: 130px;
  height: 129px;
}
.countryDetailContainerSecondChildFullView_Div_CSS {
  margin-left: 60px;
}
.countryBackButtonFullView_P_CSS {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 7px 25px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
}
.countryBackButtonFullView_P_lightMode_CSS {
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0px 0px 2px 0px rgba(153, 153, 153, 0.7);
}
.countryBackButtonFullView_P_lightMode_CSS:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 100%);
}
.countryBackButtonFullView_P_darkMode_CSS {
  color: hsl(0, 0%, 98%);
  background-color: hsl(207, 26%, 17%);
  box-shadow: 0px 0px 2px 0px rgba(11, 15, 18, 1);
}
.countryBackButtonFullView_P_darkMode_CSS:hover {
  cursor: pointer;
  background-color: hsl(209, 23%, 22%);
}

.countryImageFullView_Img_CSS {
  width: 410px;
  height: 310px;
  object-fit: cover;
  border-radius: 3px;
}
.countryNameFullView_Div_CSS{
  margin-top: 30px;
  margin-left: 60px;
}
.countryNameFullView_P_CSS {
  font-size: 20px;
  font-weight: 800;
}

.countryBorderCountriesFullView_P_CSS {
  align-items: center;
  width: fit-content;
  font-size: 13px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  font-weight: 600;
}
.titlesBold_CSS {
  font-weight: 300;
  margin-left: 5px;
  padding: 3px 5px 3px 5px;
  border-radius: 3px;
  width: fit-content;
}
.titlesBold_lightMode_CSS {
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0px 0px 2px 0px rgba(153, 153, 153, 0.7);
}
.titlesBold_lightMode_CSS:hover {
  background-color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.titlesBold_darkMode_CSS {
  background-color: hsl(207, 26%, 17%);
  box-shadow: 0px 0px 2px 0px rgba(11, 15, 18, 1);
}
.titlesBold_darkMode_CSS:hover {
  cursor: pointer;
  background-color: hsl(209, 23%, 22%);
}
.searchCountriesInput_Div_CSS {
  margin-left: 120px;
  width: 300px;
  height: fit-content;
}
.searchCountriesInput_Div_lightMode_CSS {
  color: hsl(0, 0%, 52%);
}
.searchCountriesInput_Div_darkMode_CSS {
  color: hsl(0, 0%, 100%);
}
.searchIcon_CSS {
  position: absolute;
  z-index: 1000;
  margin-top: 13px;
  margin-left: 15px;
}
.searchIcon_lightMode_CSS {
  color: hsl(200, 15%, 8%);
}
.searchIcon_darkMode_CSS {
  color: hsl(0, 0%, 98%);
}

@media (min-width: 0px) and (max-width: 375px){
  .mainCountriesContainer_Div_CSS{
    width: 100%;
  }
  .headerLabel_P_CSS {
    font-size: 15px;
    margin-left: 20px;
  }
  .darkMode_P_CSS {
    font-size: 13px;    
    margin-right: 20px;
    transition: 200ms;
  }
  .findCountriesTools_Div_CSS {
    width: 100%;
    height: 100px;
    display: block;
    justify-content: space-between;
    align-items: center;
  }
  .searchCountriesInput_Div_CSS {
    margin-top: 25px;
    margin-left: 10%;
    width: 80%;    
  }  
  .searchCountries_Input_CSS {
    width: 100%;
    margin-left: 0px;
    height: 40px;
    border-radius: 3px;
    border: none;
    text-indent: 40px;
    transition: 200ms;
  }
  .countriesRegoin_Div_CSS {
    width: 80%;
    margin-top: 10px;
    margin-left:10%;
  }
  .countryContainerFullView_Div_CSS{
    margin-top: 10px;
    width: 90%;   
    margin-left: 5%; 
  }
  .countryBackButtonContainerFullView_Div_CSS{
    height: 50px;
  }
  .countryWholeDetailContainerFullView_Div_CSS{
    display: block;
    width: 100%;
  }
  .countryDetailContainerFirstChildFullView_Div_CSS{
    display: block;
  }
  .countryDetailContainerSecondChildFullView_Div_CSS{
    margin-left: auto;
  }
  .countryNameFullView_Div_CSS{
    margin-left: auto;
  }
  .countryDetailContainerFirstChild_1_FullView_Div_CSS{
    margin-left: auto;
  }
  .countryDetailContainerFirstChild_2_FullView_Div_CSS{
    margin-left: auto;
    height: fit-content;
  }
  .countryDetailContainerFullView_Div_CSS{
    margin-left: 15px;
  }
  .countryImageFullView_Img_CSS{
    width: 100%;
    height: 250px;
  }
}